@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/images/'); /* Gambar latar belakang */
    background-size: cover;  /* Agar background menutupi seluruh layar */
    background-position: center;  /* Menempatkan gambar di tengah */
    background-attachment: fixed; /* Background tetap saat scroll */
    font-family: 'Arial', sans-serif; /* Menggunakan font Arial */
}

.navbar {
    background-color: rgba(0, 217, 255, 0.9);
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
